
@{
    ViewData["Title"] = "CITY";
}

<h1>CITY</h1>
<select id="City"></select>
@section Scripts
{
<script>
        const cities = ["台北市", "新北市", "桃園市", "台中市", "台南市", "高雄市"];
        const cityselect=document.querySelector('#City');

        for(let i=0;i<cities.length;i++)
        {
        const option =document.createElement("option");
            option.value = cities[i];
            option.textContent = cities[i];
            cityselect.appendChild(option);
        }
</script>
}

