
@{
    ViewData["Title"] = "GetDemo";
}

<h1>GetDemo</h1>
<div id="div1"></div>
@section Styles
{

}

@section Scripts
{
    <script>
        const xhr =new XMLHttpRequest();

        const name = "Jack";
        const age = 25;
          //xhr.open('GET', '@Url.Content("/api/getdemo")?name=Mary&age=28')
        xhr.open('GET', `@Url.Content("/api/getdemo")?name=${name}&age=${age}`)
        xhr.send();

        xhr.addEventListener("load",()=>{
        const data =xhr.responseText;
            document.querySelector('#div1').innerHTML = `<h3>${data}</h3>`
        })    

    </script>
}
